<h1 mat-dialog-title>Lägg till match</h1>
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Poäng för: {{data.team1Name}}" type="number" [(ngModel)]="team1Score" name="team1Score" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Poäng för: {{data.team2Name}}" type="number" [(ngModel)]="team2Score" name="team2Score" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Avbryt</button>
  <button mat-button (click)="close()">Spara</button>
</div>