.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  tbody td {
    padding: 5px;
  }

  tbody tr:nth-child(odd){
    background-color: #efefef;
  }
  
   tbody tr:nth-child(odd) td {
    border-color: lightgrey;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
}