<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>PingisAppen</span>
    <button mat-button [matMenuTriggerFor]="tournamentMenu">Turneringar</button>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="tournament$ | async as tournament">
  <app-tournament-detail [tournament]="tournament"></app-tournament-detail>
</div>


<mat-menu #tournamentMenu="matMenu">
  <button *ngFor="let t of tournaments$ | async" (click)="selectedTournamentId$.next(t.id)" mat-menu-item>
    {{t.name}}
  </button>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="addTournamentFromModal()">
    <mat-icon>add</mat-icon>
    <span>Lägg till ny turnering</span>
  </button>
  <button *ngIf="isLoggedIn$ | async" mat-menu-item (click)="logout()">
    <mat-icon>toggle_off</mat-icon>
    <span>Logga ut</span>
  </button>
  <button *ngIf="!(isLoggedIn$ | async)" mat-menu-item (click)="loginWithDialog()">
    <mat-icon>toggle_on</mat-icon>
    <span>Logga in</span>
  </button>
</mat-menu>