@import '~@angular/material/theming';

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


  tbody td, th {
    padding: 5px;
  }

  tbody tr:nth-child(odd){
    background-color: #efefef;
  }

   tbody tr:nth-child(odd) td {
    border-color: lightgrey;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
  text-align: left;
}